& {
  background-color: var(--dark);
  border-radius: var(--radius);
  max-height: 40px;
  overflow: hidden;
  transition: var(--transition);
}

&.active, &:hover {
  max-height: 100%;
}

&:hover {
  cursor: pointer;
}

&.active .header {
  background-color: rgba(255,255,255,0.1);
}

&:hover .header {
  background-color: rgba(255,255,255,0.1);
}

.header {
  height: 40px;
  padding: 0 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header span {
  font-size: 12px;
  font-weight: 800;
  color: var(--white);
}

.header svg {
  margin-right: 12px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.options [class*="menu_item"] {
  margin-bottom: 0;
  margin-right: 0;
  border-radius: 0;
  justify-content: flex-start;
}

.options [class*="menu_item"] span {
  font-weight: 400;
}