& {
  background-color: var(--dark);
  border-radius: var(--radius);
  transition: var(--transition);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

img {
  margin-right: 10px;
}

span {
  font-weight: 800;
  font-size: 14px;
}

&:hover {
  background-color: var(--primary);
}
