& {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  padding: 20px;
  top: 80px;
  left: 0;
  width: 300px;
  height: calc(100vh - 80px);
  position: fixed;
  z-index: 1;
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid rgba(var(--color-bg), 0.5);
  margin: 2px;
}

a {
  color: var(--white);
  display: inline-block;
  text-decoration: none;
  outline: none;
}

a:hover {
  background-color: rgba(var(--color-bg), 0.2);
}
